/* @import url("reset.css");*/
@import url("syntax.css");
@import url("typogrify.css");
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700|Source+Sans+Pro:300,400);


/***** Global *****/
html, body {
    height: 100%;
}

body {
    background:#EEF8FF;
    font-family: 'EB Minion', Garamond, serif;
    -moz-font-feature-settings: "liga", "calt";
    -webkit-font-feature-settings: "liga", "calt";
    -ms-font-feature-settings: "liga";
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";    
    -text-rendering: optimizeLegibility;
    text-align: left;
    margin:auto;
    font-size: 20px;
}
::selection {
    background: #30394F;
    color: #EDE8DF;
}

h1 {font-size: 1.75em}
h2 {font-size: 1.5em}
h3 {font-size: 1.375em}
h4 {font-size: 1.25em}
h5 {font-size: 1.125em}
h6 {font-size: 1em}

article header h1 {
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
    line-height: 1.08333em;
    margin-top:0
}

.entry-content h2:after {
    content: " ";
    display: block;
    width: 80%;
    height: 1px;
    background-color: #758191;
    margin: 0.5em 0;
}
.entry-content h3{
    border-bottom: 1px dotted silver;
}

h1,h2,h3{	
    font-family: "Source Sans Pro", "EB Minion", "Garamond", serif;
    font-weight: 300
}

h1, h2, h3, h4, h5, h6 {
	/*font-weight: 700;*/
	line-height: 1.1;
	margin: .8em 0;
}

h3, h4, h5, h6 { margin-top: .8em; }
	
.page-header h1 {
    font-size: 1.6em;
    font-weight: normal;
    text-align: center;
    line-height: 1.08333em;
    margin-top:0
}

hr { border: 2px solid #EEEEEE; }

/* Anchors */
a {outline: 0;}
a img {border: 0px; text-decoration: none;}
h1 a, h2 a, h3 a {
  text-decoration: none !important;
	text-shadow: none;
  transition: text-shadow .5s;
}
h1 a:hover, h2 a:hover, h3 a:hover {
	text-shadow: 0 0 1px #FF434C;
    transition: text-shadow .5s;
}
a:link, a:visited {
	padding: 0 1px;
    color: #0F3752;
    text-decoration: none;
}

time{
    color:#333333;
    text-align:right;
    float: right;
    text-transform: uppercase;
    font-size: 0.95em;
}

/* Paragraphs */
div.line-block,
p { margin-top: 1em;
    margin-bottom: 1em;}

strong, b {font-weight: bold;}
em, i {font-style: italic;}

/* Lists */
ul {
	list-style: outside disc;
	margin: 0em 0 0 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 0em 0 0 1.5em;
}

li { margin-top: 0.5em;}

.post-info {
    margin-top: 30px;
}

.post-info p {
    margin-top: 1px;
    margin-bottom: 1px;
}

.readmore {
    float: right;
    font-size: .875em;
}

dl {margin: 0 0 1.5em 0;}
dt {font-weight: bold;}
dd {margin-left: 1.5em;}

/* Code */
pre{ 
    display: block; 
    padding: 8.5px;
    margin: 1.5em 2em; 
    font-size: 1.05em;
    line-height: 125%;
    background-color: #D6DDDF;
    border: 1px solid rgba(0, 0, 0, 0.15); 
    -webkit-border-radius: 4px; 
    -moz-border-radius: 4px;     
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-all; 
    word-wrap: break-word; 
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}

code, pre {
    font-family: "Source Code Pro", Consolas, "Andale Mono", monospace;
    font-size: 0.85em;
    color: #fdf6e3;
    background-color: #002b36;
}

p code {
    color: rgb(0,0,0);
    background-color: #ECECEC;
}

table, code {
    color: rgb(0,0,0);
    background-color: rgba(254, 254, 254, 0);
}
code {
    border:0;
    padding:0;
}

.linenos {
    width: 30px;
}
.linenos div pre {
    text-align: right;
    overflow: hidden;
}
pre {
    overflow: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}
.highlight pre {
    background-color: #fdf6e3;
    border-radius: 3px 3px 3px 3px;
}
td.code .highlight pre {
    border-radius: 0 3px 3px 0;
}
td.code {
    width: 100%;
}
.linenodiv pre {
    background-color: #eee8d5;
    border-radius: 3px 0 0 3px;
    color: #657b83;
}
div.highlight {
    margin-bottom: 20px;
}
/* Quotes */
blockquote {
    border-left: 5px solid #6ACEEB;
    padding-left: 15px;
}
cite {}

Q {
 font-style:italic
 quotes: '201C' '201D' '2018' '2019';
}

Q:before {
 content: open-quote;
}

Q:after {
 content: close-quote;
}

div.note {
   float: right;
   margin: 5px;
   font-size: 85%;
   max-width: 300px;
}

/* Footnotes and lists */
.footnotes ol{
  margin: 1em 6em 1em 5em;
  padding: 0;
  font-size: 0.8em;
  max-width: 100%;
  -moz-column-count: 2;


}
.footnotes li{
  font-size: 0.8em;
  max-width: 100%;
}

abbr {
  border-bottom: 1px dotted #DD9393;
  cursor: help;
  text-transform: lowercase;
  font-variant: small-caps;
  font-size:100%;
}
/* Tables */
table {
    font-family: 'Gill Sans', 'Source Sans Pro', 'Myriad Pro', 'Arial', sans-serif;
    font-size: 12px;
    border: 1px 
	border-color: #ddd;
	border-top-style:solid;
	border-bottom-style:solid;
    border-collapse:collapse;
    margin: 1rem 0;
    background-color: #FFFFFF;    
    caption-side:bottom;
}
th {
    border-collapse:collapse;
    font-size:1em;
    text-align: center;  
    background-color: #FFFFFF;    
    border:1px;
	border-top-style:solid;
	border-bottom-style:solid;
    padding:3px 7px 2px 7px;
}
td {
    padding:3px
}
tr {
	background-color: #FFFFFF;
}
table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #EFEFEF;
}
table tbody tr:hover td,
table tbody tr:hover th {
    background-color: #fdf6e3;
}
body {
    counter-reset:table;
}
caption{
    padding:5px;
	text-align: left;
    }

caption:before {
    counter-increment:table;
    content:"Table " counter(table) ". ";
}
	
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/***** Layout *****/
.body {clear: both; margin: 0 auto;}
img.right, figure.right {float: right; margin: 0 0 2em 2em;}
img.left, figure.left {float: left; margin: 0 2em 2em 0;}

/* Header */
#banner {
	padding: 1.5em 0 .5em;
    text-align: center;
    border-top: 5px solid #268bd2;
}

#banner h1 {
    display: inline-block;
    margin: 0 0 .25em;
    font-size: 3em;
}
#banner a:link, #banner a:visited {
    color: #30394F;
    transition: .5s;
    text-decoration: none;
}
#banner a:hover, #banner a:active {
    text-shadow: 0 0 2px #6ACEEB;
    color: #6ACEEB;
    transition: .5s;
}

/* Main Nav */
#banner nav {
    font-size: 1.125em;
    height: 40px;
    line-height: 30px;
    padding: 0;
    display: inline-block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#banner nav ul {list-style: none; margin: 0 auto;}
#banner nav li {float: left; display: inline; margin: 0;}

#banner nav a:link, #banner nav a:visited {
    display: inline-block;
    height: 30px;
    padding: 5px 1.5em;
}

@media screen and (max-width: 800px) and (min-width: 500px) {
    .profile .profile-picture {
        width: 20%;
    }
    .profile .divider {
        width: 2%;
    }
    .profile p {
        width: 70%;
    }
}
@media screen and (max-width: 500px) {
    .profile .profile-picture {
        display: block;
        margin: 0 auto;
    }
    .profile .divider {
        display: none;
    }
}


/* Body */
#wrapper {
    margin-bottom: -130px;
    min-height: 100%;
    position: relative;
}
#content {
	margin-bottom: 2em;
	overflow: hidden;
	width: 900px;
    max-width: 100%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.container {
    padding: 1.5em;
}
.container img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

/* Footer */
.paginator {
	text-align: center;
}
.paginator a {
	font-size: 1.25em;
}
.clear-footer {
    height: 130px;
    clear: both;
}
#contentinfo {
    height: 130px;
    text-align: center;
    color: #EDE8DF;
    position: relative;
    z-index: 2;
}
#contentinfo p {
    font-size: .875em;
    display: inline-block;
    margin-bottom: 0;
}
#contentinfo a {
    color: #EDE8DF;
    text-decoration: none;
    font-weight: bold;
    transition: .5s;
}
#contentinfo a:hover {
    text-shadow: 0 0 2px #EDE8DF;
    transition: .5s;
}

/* Social Links */
.social {
    padding-top: 15px;
}
.social a {
	display: inline-block;
    color: #EDE8DF;
}
.social .dat-icon {
    color: #30394F;
}

/* Blog */
.hentry {
	display: block;
	clear: both;
	border-bottom: 2px solid #EDE8DF;
    padding: 1em 0 1em;
}
.hentry li{
    float: left;
    text-align: left;
}
article header h1 {
    margin: 0 0 .25em;
}
article header .date {
    font-style: italic;
    font-size: .875em;
}
li:last-child .hentry, #content > .hentry {border: 0; margin: 0;}
#content > .hentry {padding: 1em 0 1em}
.hentry img{display : none ;}

/* Content */
.hentry footer {margin-bottom: 2em;}
.hentry footer address {display: inline;}
#posts-list footer address {display: block;}

/* Blog Index */
#posts-list {list-style: none; margin: -1em 0 0;}
#posts-list .hentry {position: relative;}
#posts-list li {margin-top: 0;}
#posts-list .hentry time{
    font-family: "Source Code Pro", Consolas, "Andale Mono", monospace;
    font-size: .875em;
    color: #999;
}
